In [1]:
# to import pandas and check the version
import pandas as pd # to import the pandas 

print(pd.__version__) # to check the version of pandas

0.23.4

In [3]:
# a pandas series from each of the items below: a list, numpy and a dictionary

import numpy as np
mylist = list('abcedfghijklmnopqrstuvwxyz')  # creating the list
myarr = np.arange(26)  # creating the numpy array
mydict = dict(zip(mylist, myarr))  # combining the list and array to dict

In [4]:
# creating the series for the list

ser1 = pd.Series(mylist)
ser1.head()

0    a
1    b
2    c
3    e
4    d
dtype: object

In [5]:
# creating series for the numpy array

ser2 = pd.Series(myarr)
ser2.head()

0    0
1    1
2    2
3    3
4    4
dtype: int32

In [6]:
# creating series for the dict containing the array and list
ser3 = pd.Series(mydict)
ser3.head()

a    0
b    1
c    2
e    3
d    4
dtype: int64

In [7]:
# to convert the index of a series into a column of a dataframe
df = ser3.to_frame().reset_index()
df.head()

  index  0
0     a  0
1     b  1
2     c  2
3     e  3
4     d  4

In [8]:
#  to combine many series to form a dataframe
# method 1

df = pd.concat([ser1, ser2],axis = 0) # default axis is 0 
df.head()

0    a
1    b
2    c
3    e
4    d
dtype: object

In [9]:
df = pd.concat([ser1, ser2],axis = 1) 
df.head()

   0  1
0  a  0
1  b  1
2  c  2
3  e  3
4  d  4

In [10]:
# method 2 standard method for creating dataframe
df1 = pd.DataFrame({'column1':ser1, 'column2':ser2})
df1.head()

  column1  column2
0       a        0
1       b        1
2       c        2
3       e        3
4       d        4

In [11]:
#  to assign name to the seriesâ€™ index

ser1.name = 'Alphabets'
ser1.head()

0    a
1    b
2    c
3    e
4    d
Name: Alphabets, dtype: object

In [24]:
#  to get the items of series A not present in series B

A = pd.Series([1,2,3,4,5,6])
B = pd.Series([4,5,6,7,8])

In [4]:

import numpy as np

In [26]:
# to get element present in B from the array A
A[A.isin(B)]

3    4
4    5
5    6
dtype: int64

In [27]:
# to get union of dataframe
ser_u = pd.Series(np.union1d(A,B))
ser_u

0    1
1    2
2    3
3    4
4    5
5    6
6    7
7    8
dtype: int64

In [29]:
# to get intersection of dataframe

ser_i = pd.Series(np.intersect1d(A,B))
ser_i

0    4
1    5
2    6
dtype: int64

In [30]:
ser_u[~ser_u.isin(ser_i)]

0    1
1    2
2    3
6    7
7    8
dtype: int64

In [49]:
state = np.random.RandomState(100)
state

In [50]:
ser = pd.Series(state.normal(10, 5, 10))
ser

0     1.251173
1    11.713402
2    15.765179
3     8.737820
4    14.906604
5    12.571094
6    11.105898
7     4.649783
8     9.052521
9    11.275007
dtype: float64

In [11]:
 #  to get frequency counts of unique items of a series
10
ser = pd.Series(np.take(list('abcdefgh'), np.random.randint(8, size=10)))
ser

0    b
1    b
2    a
3    g
4    d
5    c
6    g
7    f
8    f
9    d
dtype: object

In [12]:
ser.value_counts()

g    2
b    2
d    2
f    2
c    1
a    1
dtype: int64